.list {
  display: grid;
  gap: 1.6rem;
  list-style: none;
}

.item {
  padding: 1.6rem;
  border: 2px solid var(--color-card-border);
  background-color: var(--color-card-bg);
  border-radius: 0.4rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
