.list {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow: auto;
}

@media (min-width: 768px) {
  .list {
    flex-direction: column;
    padding: 2rem;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}
