@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  opacity: 1;
  animation: fadein 0.25s ease-in;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.dialog:modal {
  opacity: 1;
  animation: fadein 0.25s ease-in;
}

.dialog::backdrop {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}

.dialog:modal::backdrop {
  opacity: 1;
  animation: fadein 0.25s ease-in;
}
