@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  text-autospace: normal;
}

html {
  font: 62.5% var(--font-family-default);
  text-size-adjust: 100%;
  height: 100%;
  color-scheme: light dark;
}

body {
  font: var(--font-size-body) var(--font-family-default);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-surface);
}

ul,
ol,
li {
  list-style: none;
}

iframe {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  opacity: 1;
  animation: fadein 0.25s ease-in;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
