.button {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  font-size: var(--font-size-button);
  font-weight: bold;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-button-bg-hover);
}
