.dialog {
  opacity: 0;
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
  transition:
    opacity 0.2s ease-in-out,
    overlay 0.2s ease-in-out allow-discrete,
    display 0.2s ease-in-out allow-discrete;
}

.dialog:modal {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.dialog::backdrop {
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  transition:
    opacity 0.2s ease-in-out,
    overlay 0.2s ease-in-out allow-discrete,
    display 0.2s ease-in-out allow-discrete;
}

.dialog:modal::backdrop {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.content {
  margin-top: 3.2rem;
  overflow: auto;
}
