.section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  min-height: 100%;
}

.separator {
  margin-top: auto;
  border: none;
  border-top: 1px solid var(--color-border);
}

.actions {
  display: grid;
}

.loadingContainer {
  display: grid;
  place-content: center;
}
