.container {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.formSection {
  display: grid;
  place-content: center;
  padding: 3.2rem;
}

.listSection {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: auto;
}
